.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  /*Ковер тут симпатичнее контейна*/
  background-position: center;
  margin: 0 29px 0 0;
  /*Макет очень кривоват, как считать этот отступ я хз. Проявите тут лояльность пока что*/
}

.profile__image-hover-effect {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profile__image-hover-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
  z-index: 1;
  border-radius: 50%;
}

.profile__image-hover-effect:hover::before {
  background: rgba(0, 0, 0, 0.6);
}

.profile__image-hover-effect::after {
  content: '';
  position: absolute;
  background-image: url('../../../images/edit-icon.svg');
  background-size: 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) translateX(-14.5px);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 2;
  width: 24px;
  height: 24px;
}

.profile__image-hover-effect:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1) translateX(-14.5px);
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
