.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-bottom: 10px;
  position: relative;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__input-error {
  font-size: 12px;
  color: red;
  opacity: 0;
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  transition: 0.3s;
  word-break: break-word;
}

.popup__error_visible {
  opacity: 1;
}

.popup__input_type_error {
  border-bottom-color: red;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 38px 0;
}

@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 12px;
    line-height: 15px;
  }
}
